emailer/.aws-sam/build/EmailApplication/idna/idnadata.py
emailer/.aws-sam/build/EmailApplication/urllib3/util/ssltransport.py
emailer/.aws-sam
jokes/.aws-sam
user_event/.aws-sam
user_event/testapi.py
.vscode/launch.json
user_event/outputfile.txt
